@charset "UTF-8";
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap'); /*Importamos fuentes desde Google Fonts*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Propiedades de la cabecera*/
.cabecera {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  z-index: 9; }
  .cabecera .cabecera__logo {
    width: 12vh; }
  .cabecera .navbar .cabecera__hamburguesa {
    /*El boton del menu hamburguesa de la navegacion no se veia asi que tome el codigo del boton de la navegacion oscura de bootstrap para que si se vea*/
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  .cabecera .cabecera__contenedornavegacion {
    width: 100%;
    justify-content: flex-end; }
    .cabecera .cabecera__contenedornavegacion .cabecera__anclas {
      color: white;
      font-family: "roboto", sans-serif;
      font-size: 1.3em; }
      .cabecera .cabecera__contenedornavegacion .cabecera__anclas:hover {
        /*Le damos un subrayado y cambiamos el color a las anclas cuando el usuario pone el puntero encima de ellas*/
        text-decoration: underline;
        color: gold; }

.piedepagina {
  background-color: black;
  padding-top: 1vh;
  font-family: 'Roboto', sans-serif; }
  .piedepagina .piedepagina__redes {
    width: 50%;
    text-align: center; }
  .piedepagina .piedepagina__escuchanos {
    width: 50%;
    text-align: center;
    padding-right: 5vw; }
  .piedepagina .piedepagina__lista {
    list-style: none; }
  .piedepagina .piedepagina__titulonavegacion {
    color: lightskyblue;
    font-size: 1.6em;
    display: none; }
  .piedepagina .piedepagina__listaitem {
    display: inline-block;
    padding-left: 1.5vw;
    padding-right: 1.5vw; }
  .piedepagina .piedepagina__anclas {
    text-decoration: none;
    color: white;
    font-size: 1.2em; }
  .piedepagina .piedepagina__textoanclas {
    display: none; }
  .piedepagina .piedepagina__paddinganclas {
    padding-left: 10px; }

@media only screen and (min-width: 576px) {
  /*Acomodamos el footer para que fuera de vista mobile se vean los textos de las anclas y aparezcan en lista*/
  .piedepagina .piedepagina__redes {
    display: flex;
    justify-content: flex-start;
    text-align: left; }
  .piedepagina .piedepagina__escuchanos {
    display: flex;
    justify-content: flex-end;
    text-align: left;
    padding-right: 2vw; }
  .piedepagina .piedepagina__titulonavegacion {
    display: inline-block; }
  .piedepagina .piedepagina__listaitem {
    display: block;
    padding-left: 0vw; }
  .piedepagina .piedepagina__textoanclas {
    display: inline-block; } }

/*Propiedades del main del index*/
.mainindex {
  background-color: black;
  padding: 2vh 0;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue; }
  .mainindex .mainindex__titulo {
    background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 0, 0.5));
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 2vh; }
    .mainindex .mainindex__titulo .mainindex__titulo__principal {
      font-family: "Roboto";
      text-decoration: underline;
      color: white;
      font-size: 2em;
      font-family: 'Roboto', sans-serif;
      text-align: center; }
    .mainindex .mainindex__titulo .mainindex__titulo__introduccion {
      font-family: "Roboto";
      text-decoration: none;
      color: white;
      font-size: 1em;
      font-family: 'Roboto';
      text-align: center; }
  .mainindex .mainindex__anclacarrusel {
    font-family: "Roboto";
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-decoration: none; }
  .mainindex .mainindex__titulocarrusel {
    font-size: 1.3em; }
  .mainindex .mainindex__textocarrusel {
    font-family: "Roboto";
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-decoration: none; }
  .mainindex .mainindex__carddiscos {
    margin: 2vh auto;
    background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 0, 0.5));
    border: 2px solid black; }
    .mainindex .mainindex__carddiscos .mainindex__carddiscos__portada {
      order: 1; }
      .mainindex .mainindex__carddiscos .mainindex__carddiscos__portada .mainindex__carddiscos__portada__video {
        width: 100%;
        aspect-ratio: 2; }
    .mainindex .mainindex__carddiscos .mainindex__carddiscos__lista {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center; }
    .mainindex .mainindex__carddiscos .mainindex__carddiscos__textoancla {
      display: none; }
  .mainindex .mainindex__titulolista {
    list-style: none;
    text-align: center; }
    .mainindex .mainindex__titulolista .mainindex__titulolista__titulocard {
      font-family: "Roboto";
      text-decoration: underline;
      color: white;
      font-size: 1.8em;
      font-family: 'Roboto', sans-serif; }
  .mainindex .mainindex__subtitulolista {
    list-style: none; }
    .mainindex .mainindex__subtitulolista .mainindex__subtitulolista__subtitulocard {
      font-family: "Roboto";
      text-decoration: none;
      color: white;
      font-size: 1.6em;
      font-family: 'Roboto', sans-serif; }
  .mainindex .mainindex__anclaslista {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-align: center; }
    .mainindex .mainindex__anclaslista .mainindex__anclaslista__navegacion {
      display: inline-block;
      padding-left: 4.5vw;
      padding-right: 4.5vw; }
    .mainindex .mainindex__anclaslista .mainindex__anclaslista__anclas {
      text-decoration: none;
      color: white;
      font-size: 2em; }
  .mainindex .mainindex__cardrecitales {
    background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(0, 0, 0, 0.5));
    border: 2px solid black; }
    .mainindex .mainindex__cardrecitales .mainindex__cardrecitales__lista {
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: left; }
    .mainindex .mainindex__cardrecitales .mainindex__cardrecitales__portada .mainindex__cardrecitales__portada__mapa {
      width: 100%;
      aspect-ratio: 2; }
    .mainindex .mainindex__cardrecitales .mainindex__cardrecitales__texto {
      font-size: 1em; }
  .mainindex .mainindex__fechas {
    font-family: "Roboto";
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    list-style: none; }
    .mainindex .mainindex__fechas .mainindex__fechas__listaitem {
      margin-top: 0.6em; }

@media only screen and (min-width: 768px) {
  .mainindex {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../Assets/Img/fondo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; } }

@media only screen and (min-width: 992px) {
  .mainindex .mainindex__titulo .mainindex__titulo__principal {
    padding: 2px;
    font-size: 3em; }
  .mainindex .mainindex__titulo .mainindex__titulo__introduccion {
    padding: 5px;
    font-size: 1.3em; }
  .mainindex .mainindex__titulocarrusel {
    font-size: 2em; }
  .mainindex .mainindex__textocarrusel {
    font-size: 1em; }
  .mainindex .mainindex__carddiscos {
    flex-direction: row;
    padding: 0 5px 0 0; }
    .mainindex .mainindex__carddiscos .mainindex__carddiscos__portada {
      width: 50%;
      order: -1; }
    .mainindex .mainindex__carddiscos .mainindex__carddiscos__lista {
      width: 50%; }
    .mainindex .mainindex__carddiscos .mainindex__carddiscos__textoancla {
      display: inline-block;
      padding-left: 0.5vw; }
  .mainindex .mainindex__anclaslista .mainindex__anclaslista__navegacion {
    display: inline-block;
    padding-left: 1.2vw;
    padding-right: 1.2vw; }
  .mainindex .mainindex__anclaslista .mainindex__anclaslista__anclas {
    text-decoration: none;
    color: white;
    font-size: 1.3em; }
  .mainindex .mainindex__cardrecitales {
    flex-direction: row;
    padding: 0 5px 0 0; }
    .mainindex .mainindex__cardrecitales .mainindex__cardrecitales__lista {
      width: 50%; }
    .mainindex .mainindex__cardrecitales .mainindex__cardrecitales__portada {
      width: 50%; }
    .mainindex .mainindex__cardrecitales .mainindex__cardrecitales__texto {
      font-size: 1em; } }

/*Estilado de la pagina nosotros*/
.mainnosotros {
  background-color: black;
  padding: 2vh 0;
  border-top: 2px solid silver;
  border-bottom: 2px solid silver; }
  .mainnosotros .mainnosotros__biografia {
    background-color: white;
    border: 2px solid black;
    margin-bottom: 2vh; }
    .mainnosotros .mainnosotros__biografia .mainnosotros__biografia__titulo {
      font-family: "Roboto";
      text-decoration: underline;
      color: black;
      font-size: 3em;
      font-family: 'Roboto', sans-serif;
      text-align: center; }
    .mainnosotros .mainnosotros__biografia .mainnosotros__biografia__texto {
      font-family: "Roboto";
      text-decoration: none;
      color: black;
      font-size: 1em;
      font-family: 'Roboto', sans-serif;
      text-align: justify; }
  .mainnosotros .mainnosotros__fotos {
    background-color: white;
    border: 2px solid black;
    text-align: center;
    padding: 0; }
    .mainnosotros .mainnosotros__fotos .mainnosotros__fotos__card {
      border: 2px solid black;
      text-align: center;
      padding: 0;
      height: 75vh; }
      .mainnosotros .mainnosotros__fotos .mainnosotros__fotos__card .mainnosotros__fotos__card__foto {
        width: 100%;
        height: 90%; }
      .mainnosotros .mainnosotros__fotos .mainnosotros__fotos__card .mainnosotros__fotos__card__subtitulo {
        display: inline-block;
        padding-top: 1%;
        font-family: 'Roboto', sans-serif; }

@media only screen and (min-width: 768px) {
  .mainnosotros {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../Assets/Img/fondonosotros.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; } }

@media only screen and (min-width: 992px) {
  .mainnosotros .mainnosotros__fotos .mainnosotros__fotos__card .mainnosotros__fotos__card__subtitulo {
    padding-top: 4%;
    font-size: 1.6em; } }

/*Estilado de la pagina recitales*/
.mainrecitales {
  background-color: black;
  padding: 2vh 0;
  border-top: 2px solid silver;
  border-bottom: 2px solid silver; }
  .mainrecitales .mainrecitales__titulo {
    margin-top: 2vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
    padding: 1vh 0; }
    .mainrecitales .mainrecitales__titulo .mainrecitales__titulo__principal {
      font-family: "Roboto";
      text-decoration: underline;
      color: black;
      font-size: 3em;
      font-family: 'Roboto', sans-serif; }
    .mainrecitales .mainrecitales__titulo .mainrecitales__titulo__portada {
      height: 30vh;
      border-top: 2px solid black;
      border-bottom: 2px solid black; }
      .mainrecitales .mainrecitales__titulo .mainrecitales__titulo__portada .mainrecitales__titulo__portada__mapa {
        height: 96%;
        padding-top: 2%; }
    .mainrecitales .mainrecitales__titulo .mainrecitales__titulo__fechas {
      height: 40vh;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      padding-top: 1vh; }
      .mainrecitales .mainrecitales__titulo .mainrecitales__titulo__fechas .mainrecitales__titulo__fechas__subtitulo {
        font-family: "Roboto";
        text-decoration: underline;
        color: black;
        font-size: 1.8em;
        font-family: 'Roboto', sans-serif; }
      .mainrecitales .mainrecitales__titulo .mainrecitales__titulo__fechas .mainrecitales__titulo__fechas__lista {
        padding-top: 2vh;
        list-style: none;
        font-family: "Roboto";
        text-decoration: none;
        color: black;
        font-size: 1.3em;
        font-family: 'Roboto', sans-serif; }
  .mainrecitales .mainrecitales__futurasfechas {
    margin-top: 2vh;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: white;
    padding: 1vh 0; }
    .mainrecitales .mainrecitales__futurasfechas .mainrecitales__futurasfechas__titulo {
      font-family: "Roboto";
      text-decoration: underline;
      color: black;
      font-size: 2em;
      font-family: 'Roboto', sans-serif; }
    .mainrecitales .mainrecitales__futurasfechas .mainrecitales__futurasfechas__portada {
      height: 25vh;
      border-top: 2px solid black;
      border-bottom: 2px solid black; }
      .mainrecitales .mainrecitales__futurasfechas .mainrecitales__futurasfechas__portada .mainrecitales__futurasfechas__portada__mapa {
        height: 96%;
        padding-top: 2%; }
    .mainrecitales .mainrecitales__futurasfechas .mainrecitales__futurasfechas__fechas {
      height: 25vh;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      padding-top: 1vh; }
      .mainrecitales .mainrecitales__futurasfechas .mainrecitales__futurasfechas__fechas .mainrecitales__futurasfechas__fechas__subtitulo {
        font-family: "Roboto";
        text-decoration: underline;
        color: black;
        font-size: 1.8em;
        font-family: 'Roboto', sans-serif; }
      .mainrecitales .mainrecitales__futurasfechas .mainrecitales__futurasfechas__fechas .mainrecitales__futurasfechas__fechas__lista {
        padding-top: 2vh;
        list-style: none;
        font-family: "Roboto";
        text-decoration: none;
        color: black;
        font-size: 1.3em;
        font-family: 'Roboto', sans-serif; }

@media only screen and (min-width: 768px) {
  .mainrecitales {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../Assets/Img/fondorecitales.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; } }

@media only screen and (min-width: 992px) {
  .mainrecitales .mainrecitales__titulo .mainrecitales__titulo__portada {
    height: 40vh; }
    .mainrecitales .mainrecitales__titulo .mainrecitales__titulo__portada .mainrecitales__titulo__portada__mapa {
      height: 96%;
      padding-top: 2%; }
  .mainrecitales .mainrecitales__titulo .mainrecitales__titulo__fechas {
    height: 40vh; }
    .mainrecitales .mainrecitales__titulo .mainrecitales__titulo__fechas .mainrecitales__titulo__fechas__subtitulo {
      font-size: 2em; }
    .mainrecitales .mainrecitales__titulo .mainrecitales__titulo__fechas .mainrecitales__titulo__fechas__lista {
      padding-top: 5vh;
      font-size: 1.6em; } }

/*Estilado de la pagina discografía*/
.maindiscografia {
  background-color: black;
  padding: 2vh 0;
  border-top: 2px solid silver;
  border-bottom: 2px solid silver; }
  .maindiscografia .maindiscografia__titulo {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
    text-align: center; }
    .maindiscografia .maindiscografia__titulo .maindiscografia__titulo__principal {
      font-family: "Roboto";
      text-decoration: underline;
      color: white;
      font-size: 3em;
      font-family: 'Roboto', sans-serif;
      text-align: center; }
    .maindiscografia .maindiscografia__titulo .maindiscografia__titulo__anclas {
      font-family: "Roboto";
      text-decoration: none;
      color: white;
      font-size: 1.3em;
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px; }
      .maindiscografia .maindiscografia__titulo .maindiscografia__titulo__anclas:hover {
        color: black; }
  .maindiscografia .maindiscografia__card {
    margin: 0 auto;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
    border: 2px solid white;
    border-top: 0px; }
    .maindiscografia .maindiscografia__card .maindiscografia__card__portada {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center; }
      .maindiscografia .maindiscografia__card .maindiscografia__card__portada .maindiscografia__card__portada__tapa {
        width: 60%;
        aspect-ratio: 1; }
        .maindiscografia .maindiscografia__card .maindiscografia__card__portada .maindiscografia__card__portada__tapa:active {
          width: 100%;
          height: 100%; }
    .maindiscografia .maindiscografia__card .maindiscografia__card__lista {
      order: -1; }
      .maindiscografia .maindiscografia__card .maindiscografia__card__lista .maindiscografia__card__lista__titulo {
        font-family: "Roboto";
        text-decoration: underline;
        color: white;
        font-size: 1.8em;
        font-family: 'Roboto', sans-serif;
        text-align: center; }
      .maindiscografia .maindiscografia__card .maindiscografia__card__lista .maindiscografia__anclaslista {
        font-family: 'Roboto', sans-serif;
        list-style: none;
        text-align: center; }
        .maindiscografia .maindiscografia__card .maindiscografia__card__lista .maindiscografia__anclaslista .maindiscografia__anclaslista__navegacion {
          display: inline-block;
          padding-left: 4.5vw;
          padding-right: 4.5vw; }
        .maindiscografia .maindiscografia__card .maindiscografia__card__lista .maindiscografia__anclaslista .maindiscografia__anclaslista__anclas {
          text-decoration: none;
          color: white;
          font-size: 1.8em; }
          .maindiscografia .maindiscografia__card .maindiscografia__card__lista .maindiscografia__anclaslista .maindiscografia__anclaslista__anclas:hover {
            color: black; }
        .maindiscografia .maindiscografia__card .maindiscografia__card__lista .maindiscografia__anclaslista .maindiscografia__anclaslista__textoancla {
          display: none; }
      .maindiscografia .maindiscografia__card .maindiscografia__card__lista .maindiscografia__card__lista__canciones {
        display: flex;
        flex-flow: column nowrap;
        justify-content: initial;
        align-items: initial; }
        .maindiscografia .maindiscografia__card .maindiscografia__card__lista .maindiscografia__card__lista__canciones .maindiscografia__card__lista__canciones__subtitulo {
          font-family: "Roboto";
          text-decoration: underline;
          color: white;
          font-size: 1.6em;
          font-family: 'Roboto', sans-serif;
          text-align: center; }
        .maindiscografia .maindiscografia__card .maindiscografia__card__lista .maindiscografia__card__lista__canciones .maindiscografia__card__lista__canciones__disco {
          text-align: center; }
          .maindiscografia .maindiscografia__card .maindiscografia__card__lista .maindiscografia__card__lista__canciones .maindiscografia__card__lista__canciones__disco .maindiscografia__card__lista__canciones__disco__lista {
            display: inline-block;
            padding-right: 10px;
            font-family: 'Roboto', sans-serif;
            color: white;
            font-size: 1em; }

@media only screen and (min-width: 768px) {
  .maindiscografia {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../Assets/Img/fondodiscografia.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; } }

@media only screen and (min-width: 992px) {
  .maindiscografia .maindiscografia__card {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5));
    padding: 0; }
    .maindiscografia .maindiscografia__card .maindiscografia__card__portada {
      width: 40%; }
      .maindiscografia .maindiscografia__card .maindiscografia__card__portada .maindiscografia__card__portada__tapa {
        width: 100%;
        height: 100%; }
    .maindiscografia .maindiscografia__card .maindiscografia__card__lista {
      width: 60%;
      order: 1; }
      .maindiscografia .maindiscografia__card .maindiscografia__card__lista .maindiscografia__anclaslista .maindiscografia__anclaslista__navegacion {
        display: inline-block;
        padding-left: 1.2vw;
        padding-right: 1.2vw; }
      .maindiscografia .maindiscografia__card .maindiscografia__card__lista .maindiscografia__anclaslista .maindiscografia__anclaslista__anclas {
        text-decoration: none;
        color: white;
        font-size: 1.5em; }
      .maindiscografia .maindiscografia__card .maindiscografia__card__lista .maindiscografia__anclaslista .maindiscografia__anclaslista__textoancla {
        display: inline-block;
        padding-left: 0.5vw; }
      .maindiscografia .maindiscografia__card .maindiscografia__card__lista .maindiscografia__card__lista__canciones .maindiscografia__card__lista__canciones__disco {
        text-align: left; }
        .maindiscografia .maindiscografia__card .maindiscografia__card__lista .maindiscografia__card__lista__canciones .maindiscografia__card__lista__canciones__disco .maindiscografia__card__lista__canciones__disco__lista {
          display: block;
          padding-left: 15%; } }

/*Estilos de la pagina suscribete*/
.mainsuscribete {
  padding: 4vh 0 15vh 0;
  background-color: black;
  border-top: 2px solid silver;
  border-bottom: 2px solid silver; }
  .mainsuscribete .mainsuscribete__titulo {
    background-color: white;
    border-radius: 15px;
    margin-bottom: 2vh;
    padding: 2vh 3%; }
    .mainsuscribete .mainsuscribete__titulo .mainsuscribete__titulo__principal {
      font-family: "Roboto";
      text-decoration: none;
      color: black;
      font-size: 3em;
      font-family: 'Roboto', sans-serif; }
    .mainsuscribete .mainsuscribete__titulo .mainsuscribete__titulo__texto {
      font-family: "Roboto";
      text-decoration: none;
      color: black;
      font-size: 1em;
      font-family: 'Roboto', sans-serif; }
    .mainsuscribete .mainsuscribete__titulo .mainsuscribete__titulo__contenedor {
      height: auto;
      padding: 1% 0;
      border-top: 2px solid black;
      border-bottom: 2px solid black; }
      .mainsuscribete .mainsuscribete__titulo .mainsuscribete__titulo__contenedor .mainsuscribete__titulo__contenedor__columna1 {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        height: 70%; }
        .mainsuscribete .mainsuscribete__titulo .mainsuscribete__titulo__contenedor .mainsuscribete__titulo__contenedor__columna1 .mainsuscribete__titulo__contenedor__columna1__margenformulario {
          margin-top: 1vh; }

@media only screen and (min-width: 768px) {
  .mainsuscribete {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../Assets/Img/fondosuscribete.jpg");
    background-attachment: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; } }

@media only screen and (min-width: 992px) {
  .mainsuscribete .mainsuscribete__titulo .mainsuscribete__titulo__contenedor {
    height: 50vh; }
    .mainsuscribete .mainsuscribete__titulo .mainsuscribete__titulo__contenedor .mainsuscribete__titulo__contenedor__columna1 .mainsuscribete__titulo__contenedor__columna1__margenformulario {
      margin-top: 0vh; } }
