/*Propiedades de la cabecera*/

.cabecera{
    background-color: map-get($rgb, negro);
    font-family: 'Roboto', sans-serif;
    z-index: 9;
    .cabecera__logo{
        width: 12vh; 
    }
    .navbar {
        .cabecera__hamburguesa { /*El boton del menu hamburguesa de la navegacion no se veia asi que tome el codigo del boton de la navegacion oscura de bootstrap para que si se vea*/
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
          }
    }
    .cabecera__contenedornavegacion{
        width: 100%;
        justify-content: flex-end;
        .cabecera__anclas{
            color: map-get($rgb, blanco);
            font-family: "roboto", sans-serif;
            font-size: map-get($tamañofuente, texto_g);
            &:hover{ /*Le damos un subrayado y cambiamos el color a las anclas cuando el usuario pone el puntero encima de ellas*/
                text-decoration: underline;
                color: map-get($rgb, dorado);
            }
        }
    }
}









