/*Propiedades del main del index*/

.mainindex{
    background-color: map-get($rgb, negro);
    padding: 2vh 0;
    @include borde-t (2px, solid, map-get($rgb, azul));
    @include borde-b (2px, solid, map-get($rgb, azul));
    .mainindex__titulo{ 
        background: linear-gradient(map-get($rgba, azul5), map-get($rgba, negro5));
        @include borde (2px, solid, map-get($rgb, negro));
        border-radius: 15px;
        text-align: center;
        margin-bottom: 2vh;
        .mainindex__titulo__principal{
            @include fuentes (map-get($fuentes, principal), map-get($rgb, blanco), map-get($tamañofuente, tit_sec), underline);
            font-family: 'Roboto', sans-serif;
            text-align: center;
        }
        .mainindex__titulo__introduccion{
            @extend .mainindex__titulo__principal;
            font-size: map-get($tamañofuente, texto_c);
            text-decoration: none;
        }
    }
    .mainindex__anclacarrusel{
        @include fuentes (map-get($fuentes, principal), map-get($rgb, blanco), map-get($tamañofuente, texto_c));
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
    }
    .mainindex__titulocarrusel{
        font-size: map-get($tamañofuente, texto_g);
    }
    .mainindex__textocarrusel{
        @include fuentes (map-get($fuentes, principal), map-get($rgb, blanco), map-get($tamañofuente, texto_c));
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
    }
    .mainindex__carddiscos{
        margin: 2vh auto;
        background: linear-gradient(map-get($rgba, azul5), map-get($rgba, negro5));
        @include borde (2px, solid, map-get($rgb, negro)); 
        .mainindex__carddiscos__portada{
            order: 1;
            .mainindex__carddiscos__portada__video{
                width: 100%;
                aspect-ratio: 2;
            }
        }
        .mainindex__carddiscos__lista{
            width: 100%;
            @include flexbox(column, space-evenly);
        } 
        .mainindex__carddiscos__textoancla{
            display: none;
        }
    }
    .mainindex__titulolista{ 
        list-style: none; 
        text-align: center;
        .mainindex__titulolista__titulocard{
            @include fuentes (map-get($fuentes, principal), map-get($rgb, blanco), map-get($tamañofuente, tit_card), underline);
            font-family: 'Roboto', sans-serif;
        }
    }
    .mainindex__subtitulolista{ 
        list-style: none;
        .mainindex__subtitulolista__subtitulocard{
            @include fuentes (map-get($fuentes, principal), map-get($rgb, blanco), map-get($tamañofuente, subt_card));
            font-family: 'Roboto', sans-serif;
        }
    }
    .mainindex__anclaslista{ 
        font-family: 'Roboto', sans-serif;
        list-style: none;
        text-align: center;
        .mainindex__anclaslista__navegacion{ 
            display: inline-block;
            padding-left: 4.5vw;
            padding-right: 4.5vw;
        }
        .mainindex__anclaslista__anclas{  
            text-decoration: none; 
            color: map-get($rgb, blanco); 
            font-size: map-get($tamañofuente, tit_sec); 
        }
    }
    .mainindex__cardrecitales{ 
        background: linear-gradient(map-get($rgba, azul5), map-get($rgba, negro5));
        @include borde (2px, solid, map-get($rgb, negro)); 
        .mainindex__cardrecitales__lista{ 
            width: 100%;
            @include flexbox(column, space-evenly, nowrap, left);
        }
        .mainindex__cardrecitales__portada{ 
            .mainindex__cardrecitales__portada__mapa{ 
                width: 100%;
                aspect-ratio: 2;
            }
        }
        .mainindex__cardrecitales__texto{ 
            font-size: map-get($tamañofuente, texto_c);
        }
    }
    .mainindex__fechas{ 
        @include fuentes (map-get($fuentes, principal), map-get($rgb, blanco), map-get($tamañofuente, texto_g));
        font-family: 'Roboto', sans-serif;
        list-style: none;
        .mainindex__fechas__listaitem{ 
            margin-top: 0.6em;
        }
    }
}

@media only screen and (min-width: 768px){
    .mainindex{
        @include fondopagina(map-get($rgba, negro2), map-get($rgba, negro2), Fondo);
    }
}

@media only screen and (min-width: 992px){
    .mainindex{
        .mainindex__titulo{ 
            .mainindex__titulo__principal{
                padding:2px;
                font-size: map-get($tamañofuente, tit_princ);
            }
            .mainindex__titulo__introduccion{
                padding:5px;
                font-size: map-get($tamañofuente, texto_g);
            }
        }
        .mainindex__titulocarrusel{
            font-size: map-get($tamañofuente, tit_sec);
        }  
        .mainindex__textocarrusel{
            font-size: map-get($tamañofuente, texto_c);
        }
        .mainindex__carddiscos{
            flex-direction: row;
            .mainindex__carddiscos__portada{
                padding: 0%;
                width: 50%;
                order: -1;
            }
            .mainindex__carddiscos__lista{
                width: 50%;
            } 
            .mainindex__carddiscos__textoancla{
                display: inline-block;
                padding-left: 0.5vw;
            }
        }
        .mainindex__anclaslista{ 
            .mainindex__anclaslista__navegacion{ 
                display: inline-block;
                padding-left: 1.2vw;
                padding-right: 1.2vw;
            }
            .mainindex__anclaslista__anclas{  
                text-decoration: none; 
                color: map-get($rgb, blanco); 
                font-size: map-get($tamañofuente, texto_g); 
            }
        }
        .mainindex__cardrecitales{ 
            flex-direction: row;
            padding: 0 5px 0 0;
            .mainindex__cardrecitales__lista{ 
                width: 50%;
            }
            .mainindex__cardrecitales__portada{ 
                width: 50%;
            }
            .mainindex__cardrecitales__texto{ 
                font-size: map-get($tamañofuente, texto_c);
            }
        }
    }
}